
* {
  margin: 1;
  padding: 2;
  box-sizing: border-box;
  font-family: font-doto, sans-serif;

}

body {
  background-color: #f5f7fa;
  color: #333;
  line-height: 5;
  font-family: 'Bitcount Grid Double Ink', sans-serif;
}
